.header
  background header-color
  color secondary-color

.sub-header
  display none
  background sub-header-color

.header__content
  display flex
  align-items center
  justify-content space-between

.main
  display flex
  align-items center
  .main__logo
    margin 0 25px
    display flex
    align-items center
    a
      text-decoration none
      transition color 0.3s ease
      color rgb(255, 255, 255)
      &:hover
        color rgb(180, 180, 200)
    .website-name
      font-size 1.3rem
      font-weight 400
    img
      height 50px
      margin 5px 0
      width auto

.main-icons
  display flex
  align-items center
  img
    height 50px

.search__form--input
  display none
  height 30px
  font-size 1.2rem
  font-weight 100
  background transparent
  outline none
  border none
  color #ccc
  border-bottom 1px solid #ccc
  width 250px

.menu
  .menu__item
    color #fff
    text-transform uppercase
    text-decoration none
    margin 0 5px
    padding 0.625rem 1.25rem
    transition color 0.3s ease
    &:hover
      color secondary-color
      cursor pointer
    &--active
      background active-color

.loading
  width 100%
  display flex
  align-items center
  justify-content center
