.posts
  container(container-base)
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content flex-start

.posts__post
  width 23%
  margin 20px 1%
  border-radius 3px
  background white
  .post__image
    display block
    border-radius 3px 3px 0 0
    width 100%
  .post__description
    margin 10px
    align-items center
    &--name
      font-weight bold
      font-size .95rem
